body {
  background-color: lightblue;
  }

h1 {
  color: white;
  text-align: center;
  }

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

  font-family: verdana;
  font-size: 20px;
  }

#para1 {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
  color: red;
  }

img {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 1000px;  
  } 